@import "./src/styles/const";

%block-img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin: 0 40px 20px 0;
}
.block-img-dark-shade-100 {
  @extend %block-img;
  background: $dark_shade_100;
}
.block-img-dark-shade-75 {
  @extend %block-img;
  background: $dark_shade_75;
}
.block-img-dark-shade-50 {
  @extend %block-img;
  background: $dark_shade_50;
}
.block-img-dark-shade-25 {
  @extend %block-img;
  background: $dark_shade_25;
}
.block-img-dark-shade-5 {
  @extend %block-img;
  background: $dark_shade_5;
}
.block-img-purple {
  @extend %block-img;
  background: $purple;
}
.block-img-green {
  @extend %block-img;
  background: $green;
}