doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title UI Kit

    body
        .container
            .wrapper
                .item
                    .block-img-dark-shade-100
                    p Dark Shade 100%
                        br
                        span #1F2041
                .item
                    .block-img-dark-shade-75
                    p Dark Shade 75%
                        br
                        span #1F2041
                .item
                    .block-img-dark-shade-50
                    p Dark Shade 50%
                        br
                        span #1F2041
                .item
                    .block-img-dark-shade-25
                    p Dark Shade 25%
                        br
                        span #1F2041
                .item
                    .block-img-dark-shade-5
                    p Dark Shade 5%
                        br
                        span #1F2041
                .item
                    .block-img-purple
                    p Purple
                        br
                        span #BC9CFF
                .item
                    .block-img-green
                    p Green
                        br
                        span #6FCF97
            .wrapper
                .item
                    span H1
                    h1 This one is the sub-section or widget title
                .item
                    span H2
                    h2 This one is the sub-section or widget title
                .item
                    span H3
                    h3 This one is the sub-section or widget title
                .item
                    span Body
                    p This one is the sub-section or widget title