include components/colorWrapper/colorWrapper
include components/titleWrapper/titleWrapper


doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title UI Kit
    body
        .container
            .color-wrapper
                .item
                    +colorW({title: "Dark Shade 100%", description: "#1F2041"})
                .item
                    +colorW({title: "Dark Shade 75%", description: "#1F2041"})
                .item
                    +colorW({title: "Dark Shade 50%", description: "#1F2041"})
                .item
                    +colorW({title: "Dark Shade 25%", description: "#1F2041"})
                .item
                    +colorW({title: "Dark Shade 5%", description: "#1F2041"})
                .item
                    +colorW({title: "Purple", description: "#BC9CFF"})
                .item
                    +colorW({title: "Green", description: "#6FCF97"})
            .title-wrapper
                .item
                    +titleW({name: "H1"})
                .item
                    +titleW({name: "H2", description: "Next one is the item title inside widgets"})
                .item
                    +titleW({name: "H3", description: "This is a label or CTA text"})
                .item
                    +titleW({name: "Body", tag: "p", description: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})